@{
  Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Book>

<h1>Books</h1>

@if (Model.Any())
{
  <p>Search for a book by title:</p>
  <form asp-controller="Books" asp-action="Index">
  <p>
    Title: <input type="text" name="searchTitle" />
    <input type="submit" value="Search" />
  </p>
</form>
  <ul>
  @foreach (Book book in Model)
    {
      <li>@Html.ActionLink($"{book.Title}", "Details", new { id = book.BookId })</li>
    }
  </ul>
}
else
{
  <h3>No BOOKS have been added yet!</h3>
}

<p>@Html.ActionLink("Add new BOOK", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>