@{
  Layout = "_Layout";
}

@using GoodTreats.Models;
@model IEnumerable<GoodTreats.Models.Flavor>

<h1>Flavors</h1>

@if (Model.Any())
{
  <form asp-controller="Flavors" asp-action="Index">
 
</form>
  <ul>
  @foreach (Flavor flavor in Model)
    {
      <li>@Html.ActionLink($"{flavor.Name}", "Details", new { id = flavor.FlavorId })</li>
    }
  </ul>
}
else
{
  <h3>No Flavors have been added yet!</h3>
}

<button type="button" class="btn btn-warning">@Html.ActionLink("Add new Flavor", "Create")</button>

<button type="button" class="btn btn-success">@Html.ActionLink("Home", "Index", "Home")</button>